*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

body {
  background-color: #1b2223;
  color: #fafefd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.clock {
  width: 300px;
  height: 300px;
  background-color: #1b2223;
  /* opacity: 0.8; */
  border-radius: 50%;
  border: 0.5rem solid #0ef6cc;
  position: relative;
}

.clock::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  background-color: #fafefd;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.clock .number {
  --rotation: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  text-align: center;
  transform: rotate(var(--rotation));
}
.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  /* border: 1px solid #1b2223; */
  background-color: #fafefd;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 2;
}

.clock .hand.minute {
  width: 5px;
  height: 40%;
}

.clock .hand.hour {
  width: 10px;
  height: 35%;
}

.clock .hand.second {
  background-color: #0ef6cc;
  width: 2px;
  height: 45%;
}
